@import url(https://fonts.google.com/specimen/Roboto);

*{box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fbalance&psig=AOvVaw0Ms-We5T9pwAnKKSmgdhZf&ust=1630934551906000&source=images&cd=vfe&ved=0CAkQjRxqFwoTCIjcm-f25_ICFQAAAAAdAAAAABAD')

no-repeat center center/cover;
position: absolute;
top: -30px;
left: -30px;
width: calc(100vw + 60px);
height: calc(100vw + 60px);
z-index: -1;
filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: sienna;

}